{% extends "Booksyard/base.html" %}
{% load static %}

{% block title %} {{ book_obj.book_name }} - Booksyard {% endblock %}

{% block css_file %} 
<link rel="stylesheet" href="{% static 'home/css/book.css' %}">
{% endblock %}

{% block content %}

<div>

    <img src="{{ book_obj.cover.url }}" alt="{{ book_obj.book_name }}">

    <div>

        <div>

            <h1>{{ book_obj.book_name }}</h1>
            <p>{{ book_obj.author }}</p>

            <h3>Language: {{ book_obj.language }}</h3>
            <h3>Type: {{ book_obj.type }}</h3>
            <p>Published: {{ book_obj.date|date:"F Y" }}</p>

            <p>{{ book_obj.description }}</p>

        </div>

        <div>

            <h1>{{ book_obj.price }}€</h1>

            <form method="post" action="{% url 'add_to_cart' book_obj.id %}">
                {% csrf_token %}

                <button type="button" onclick="add_Quantity(-1)">-</button>
                <input type="text" name="quantity" id="quantity" value="1" min="1" readonly>
                <button type="button" onclick="add_Quantity(1)">+</button>

                <button type="submit">Add to cart</button>
            </form>

        </div>

    </div>

</div>

<script src="{% static 'home/js/book.js' %}" defer></script>

{% endblock %}