{% extends "Booksyard/base.html" %}
{% load static %}

{% block title %} Password confirmation - Booksyard {% endblock %}

{% block css_file %} 
<link rel="stylesheet" href="{% static 'home/css/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}

<div>

    <h2>Set a new password</h2>

    {% if validlink %}
    <form method="post">
        {% csrf_token %}

        <div>
            <label>New password:</label>
            <input type="password" name="password1" id="password1" placeholder="Enter new password here...">

            <button type="button" onclick="toggle_password()">Show</button>
        </div>

        <div>
            <label>Confirm password:</label>
            <input type="password" name="password2" id="password2" placeholder="Confirm new password here...">
        </div>

        <button type="submit">Change password</button>

    </form>

    {% else %}
    <p>This password reset link is invalid or expired</p>

    {% endif %}

</div>

{% endblock %}