{% extends "Booksyard/base.html" %}
{% load static %}

{% block title %} Sign up - Booksyard {% endblock %}

{% block css_file %} 
<link rel="stylesheet" href="{% static 'home/css/sign_up.css' %}">
{% endblock %}

{% block content %}

<div>

    <h2>Sign up</h2>

    <form method="post" action="">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" value="{{ request.POST.username }}" placeholder="Enter your username here...">

        <label for="email">Email</label>
        <input type="email" name="email" value="{{ request.POST.email }}" placeholder="Enter your email here...">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{ request.POST.password }}" placeholder="Enter your password here...">

        <button type="button" onclick="toggle_password()">Show</button>

        <label for="password2">Confirm password</label>
        <input type="password" name="password2" placeholder="Confirm your password here...">

        {% if error %}
        <p id="error_message">Something goes wrong. {{ error }}</p>
        {% endif %}

        <button type="submit">Sign up</button>

        <h3>
            Already have an account? <a href="{% url 'login' %}">Log in</a>
        </h3>

    </form>

</div>

<script src="{% static 'home/js/sign_up.js' %}" defer></script>

{% endblock %}