{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta name="author" content="Chumus">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Booksyard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    {% block css_file %}{% endblock %}

</head>

<body>

    {% include "Booksyard/header.html" %}

    <hr>
    
    {% block content %}{% endblock %}

    {% include "Booksyard/footer.html" %}

</body>

</html>