<header>

    <a href="{% url 'home' %}">
        <h1>Booksyard</h1>
    </a>

    <form method="get" action="">
        <input type="text" name="book_search" id="book_search" value="{{ request.GET.book_search|default:'' }}" placeholder="Enter a book title or author...">

        {% if request.GET.sort %}
        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
        {% endif %}

        {% for g in selected_genres %}
        <input type="hidden" name="genres" value="{{ g }}">
        {% endfor %}

        {% for l in selected_languages %}
        <input type="hidden" name="language" value="{{ l }}">
        {% endfor %}

        {% for t in selected_types %}
        <input type="hidden" name="type" value="{{ t }}">
        {% endfor %}

        <button type="submit">Search</button>
    </form>

    <a href="{% if user.is_authenticated %}{% url 'account' user.username %}{% else %}{% url 'login' %}{% endif %}">
        <button type="button">My Account</button>
    </a>

    <a href="">
        <p>Cart</p>
    </a>

</header>